<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="container-header">
      <a class="navbar-brand" href="/">Beauty Job Offer</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to("sign on",'#') %>
        </li>
      </ul>
    </div>
  </div>
</nav>
